@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
.container-fluid{
  background-color: black;
  font-family: 'Archivo Narrow', sans-serif;
  overflow-x: hidden;
}
.login{
  font-family: 'Archivo Narrow', sans-serif;
  
}

.signup{
  font-family: 'Archivo Narrow', sans-serif;

}
.blog{
  font-family: 'Archivo Narrow', sans-serif;
}
.home{
  font-family: 'Archivo Narrow', sans-serif;

}
.profile{
  font-family: 'Archivo Narrow', sans-serif;
}
